
.dark-mode {
    background-color: rgb(49, 49, 49);
}

#clock {
    color: rgb(116, 167, 155);
    font-size: 78px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px rgb(214, 214, 214);
    margin: 1px;
}

.container {
    text-align: center;
    align-content: center;

}

body, html {
    background-color: rgb(226, 234, 231);
}


.button{
    background-color: rgb(75, 136, 139);
    color: white;
}